@import url(./bootstrap-grid-and-normalize.css);
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  display: none; }

[type="radio"] + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 25px;
  display: inline-block;
  font-size: 14px; }

[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #288575;
  border-radius: 25px;
  background: #ffffff; }

[type="radio"] + label:after {
  content: '';
  width: 20px;
  height: 20px;
  background: #288575;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 100%; }

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

[type="radio"]:checked + label {
  color: #288575; }

.DemoShop-radioOptionWrapper {
  display: block;
  width: 100%;
  white-space: nowrap; }

.DemoShop-radioLabel {
  padding-right: 10px;
  display: inline-block; }

.DemoShop-radioInput {
  display: inline-block;
  margin-right: 5px; }

.DemoShop-switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer; }

.DemoShop-switch input {
  display: none; }

.DemoShop-switch .DemoShop-switchLabel {
  padding-left: 46px;
  color: #000000;
  font-size: 14px;
  line-height: 25px;
  white-space: nowrap;
  vertical-align: middle; }

.DemoShop-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  border: 1px solid #288575; }

.DemoShop-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 1px;
  background-color: #288575;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%; }

input:checked + .DemoShop-slider {
  background-color: #288575; }

input:focus + .DemoShop-slider {
  box-shadow: 0 0 1px #288575; }

input:checked + .DemoShop-slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
  background-color: #ffffff; }

.DemoShop-switch input:checked ~ .DemoShop-switchLabel {
  color: #288575; }

.DemoShop-field, .FilterSearch-field, .LoginForm-field, .LoginForm-loginField, .LoginForm-passwordField, .ProductEdit-field {
  border-radius: 5px;
  border: 3px solid transparent;
  line-height: 32px;
  outline: none;
  box-sizing: border-box;
  padding: 0 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  text-overflow: ellipsis; }

.DemoShop-field:focus, .FilterSearch-field:focus, .LoginForm-field:focus, .LoginForm-loginField:focus, .LoginForm-passwordField:focus, .ProductEdit-field:focus {
  border-color: rgba(40, 133, 117, 0.3); }

.DemoShop-field:invalid, .FilterSearch-field:invalid, .LoginForm-field:invalid, .LoginForm-loginField:invalid, .LoginForm-passwordField:invalid, .ProductEdit-field:invalid {
  border-color: #ff5b51; }

.DemoShop-fieldIcon {
  position: absolute;
  left: calc(100% - 20px);
  color: #a9a9a9; }

.DemoShop-button, .DemoShop-button_big, .LoginForm-submit, .DemoShop-button_secondary, .DemoShop-button_bigSecondary, .Filter-button, .ProductCard-button {
  height: 35px;
  border-radius: 5px;
  border-width: 0;
  background: linear-gradient(180deg, #2BBCC2 0%, #1B745F 100%);
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  width: 120px;
  outline: none; }

.DemoShop-button_big, .LoginForm-submit {
  height: 50px;
  width: 170px;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px; }

.DemoShop-button_secondary {
  background: linear-gradient(180deg, #B1B1B1 0%, #777777 100%); }

.DemoShop-button_bigSecondary {
  height: 50px;
  width: 170px;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  background: linear-gradient(180deg, #B1B1B1 0%, #777777 100%); }

.DemoShop-button:active, .DemoShop-button_big:active, .LoginForm-submit:active, .DemoShop-button_secondary:active, .DemoShop-button_bigSecondary:active, .Filter-button:active, .ProductCard-button:active {
  background: linear-gradient(0deg, #2BBCC2 100%, #1B745F 0%);
  box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.3); }

.DemoShop-button_secondary:active {
  background: linear-gradient(0deg, #B1B1B1 0%, #777777 100%);
  box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.5); }

.DemoShop-button:disabled, .DemoShop-button_big:disabled, .LoginForm-submit:disabled, .DemoShop-button_secondary:disabled, .DemoShop-button_bigSecondary:disabled, .Filter-button:disabled, .ProductCard-button:disabled,
.DemoShop-button[disabled],
[disabled].DemoShop-button_big,
[disabled].LoginForm-submit,
[disabled].DemoShop-button_secondary,
[disabled].DemoShop-button_bigSecondary,
[disabled].Filter-button,
[disabled].ProductCard-button {
  opacity: .5; }

.DemoShop-select, .FilterModal-categorySelect, .ProductEdit-select {
  width: 100%;
  display: block;
  font-size: 14px;
  line-height: 19px;
  height: 35px;
  border-radius: 5px;
  border: 0;
  padding: 0 42px 0 17px;
  background: url("../images/down2.svg") no-repeat calc(100% - 10px) #ffffff;
  background-size: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; }

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

a {
  color: #288575; }

.DemoShop-image {
  width: 100%; }

textarea {
  border: 2px solid transparent;
  outline: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

textarea:focus {
  border-color: rgba(40, 133, 117, 0.3); }

.DemoShop-range {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  -ms-touch-action: none;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.DemoShop-rangeHandle {
  position: absolute;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 50%;
  -ms-touch-action: pan-x;
  touch-action: pan-x;
  margin-left: -10px;
  margin-top: -8px;
  width: 20px;
  height: 20px;
  background-color: #288575;
  border: none; }

.DemoShop-rangeRail {
  position: absolute;
  width: 100%;
  border-radius: 6px;
  height: 0;
  border: 2px solid #B8B8B8; }

.DemoShop-rangeTrack {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  border: 2px solid #288575; }

.DemoShop-rangeHandle {
  position: absolute;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 50%;
  -ms-touch-action: pan-x;
  touch-action: pan-x;
  margin-left: -10px;
  margin-top: -8px;
  width: 20px;
  height: 20px;
  background-color: #288575;
  border: none; }

.DemoShop-rangeMark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px; }

.DemoShop-rangeMarkText {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer; }

.ConfirmButtons-wrapper {
  display: flex;
  justify-content: center; }

@media screen and (min-width: 800px) {
  .ConfirmButtons-wrapper {
    justify-content: flex-end; } }
.DemoShop-button_bigSecondary {
  margin-right: 20px; }

.Modal-back {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3); }

.Modal-wrapper {
  min-width: 480px;
  max-width: 730px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-height: 95%;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }

.Modal-title {
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  padding: 25px 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #000000;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  height: 70px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11); }

.Modal-content {
  padding: 40px 60px 30px;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  background-image: url("../images/modal-bg.png");
  overflow-wrap: break-word;
  overflow: hidden;
  border-radius: 0 0 10px 10px; }

@media screen and (min-width: 800px) {
  .Modal-content {
    padding: 40px 30px 30px; } }
.App-header {
  margin: 0 auto;
  height: 45px;
  background: #288575;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 3px 0 0 rgba(92, 186, 150, 0.5); }

@media screen and (min-width: 1200px) {
  .App-header {
    padding: 10px calc(30px + (100vw - 1200px) / 2); } }
#App-logo {
  width: 24px; }

.App-footer {
  width: 100%;
  background: #288575;
  text-align: center;
  line-height: 45px;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  color: #ffffff; }

.App-shadow {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 480px;
  min-height: 100%;
  padding: 15px 30px 75px 30px;
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; }

.App-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  background-image: url("../images/bg.jpg");
  width: 100%; }

.Filter-wrapper {
  padding-bottom: 25px;
  position: relative; }

.Filter-wrapper .DemoShop-button, .Filter-wrapper .DemoShop-button_big, .Filter-wrapper .LoginForm-submit, .Filter-wrapper .DemoShop-button_secondary, .Filter-wrapper .DemoShop-button_bigSecondary, .Filter-wrapper .Filter-button, .Filter-wrapper .ProductCard-button {
  margin-right: 15px;
  width: 140px; }

.Filter-button {
  box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.3); }

@media screen and (min-width: 800px) {
  .Filter-wrapper {
    text-align: right; } }
.FilterSearch-fieldGroup {
  display: inline-block;
  position: relative;
  float: right; }

.FilterSearch-field {
  border-radius: 5px;
  padding: 9px 42px 9px 17px;
  height: 35px;
  width: 235px;
  font-size: 14px;
  font-style: italic;
  line-height: 19px;
  color: #999999;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: 206px;
  background-size: 20px; }

.FilterModal-wrapper {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  text-align: left;
  padding: 20px;
  z-index: 100;
  position: absolute;
  margin-top: 12px;
  min-width: 100%; }
  .FilterModal-wrapper .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0; }
  .FilterModal-wrapper .row > div {
    border-bottom: 0.5px solid #288575;
    padding-bottom: 25px;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0; }
  .FilterModal-wrapper .row:last-child > div:last-child {
    border-color: transparent;
    margin-bottom: 0; }

.FilterModal-arrowUp {
  width: 0;
  height: 0;
  margin-left: 55px;
  position: absolute;
  margin-top: 4px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ffffff;
  z-index: 110; }

@media screen and (min-width: 800px) {
  .FilterModal-wrapper {
    min-width: 750px;
    right: 0; }
    .FilterModal-wrapper .row > div {
      padding-bottom: 10px; }
      .FilterModal-wrapper .row > div:not(:last-child) {
        padding-right: 15px; }
    .FilterModal-wrapper .row:not(:first-child) > div {
      border-color: transparent; }
    .FilterModal-wrapper .row:last-child > div {
      margin-bottom: 0; }

  .FilterModal-arrowUp {
    right: 305px; } }
.FilterModal-availabilityOption {
  display: block !important; }

.FilterModal-categorySelect {
  background: url("../images/down.svg") no-repeat #288575;
  background-size: 24px;
  background-position: 203px;
  width: 235px; }

.FilterModal-filterName {
  font-size: 12px;
  line-height: 15px; }

.FilterRating-wrapper {
  max-width: 270px;
  padding-right: 35px; }
  .FilterRating-wrapper .FilterModal-filterName {
    margin-bottom: 8px;
    display: inline-block; }

.Login-wrapper .Modal-wrapper {
  max-width: 570px; }
  .Login-wrapper .Modal-wrapper .Modal-content {
    text-align: left;
    padding: 30px; }

.LoginForm-wrapper {
  margin: 0 auto;
  max-width: 450px;
  font-size: 18px; }

.LoginForm-field, .LoginForm-loginField, .LoginForm-passwordField {
  font-size: 24px;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-right: 60px;
  background-repeat: no-repeat;
  display: block; }

.LoginForm-loginField {
  margin-bottom: 20px;
  background-size: 45px;
  background-position: calc(100% - 10px);
  background-image: url("../images/login-inactive.svg"); }

.LoginForm-loginField:focus {
  background-image: url("../images/login-active.svg"); }

.LoginForm-loginField:invalid {
  background-image: url("../images/login-invalid.svg"); }

.LoginForm-passwordField {
  background-size: 36px;
  margin-bottom: 30px;
  background-position: calc(100% - 15px);
  background-image: url("../images/password-inactive.svg"); }

.LoginForm-passwordField:focus {
  background-image: url("../images/password-active.svg"); }

.LoginForm-passwordField:invalid {
  background-image: url("../images/password-invalid.svg"); }

.LoginForm-submit {
  float: right; }

.SignOut-username {
  height: 100%;
  margin-right: 8px;
  color: #ffffff; }

.SignOut-wrapper {
  line-height: 25px;
  font-size: 15px;
  vertical-align: middle; }

#SignOut-icon {
  width: 16px; }

.Statistics-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 480px;
  min-height: 100%;
  padding: 15px 30px 75px 30px;
  padding-top: 20px;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start; }
  @media screen and (min-width: 800px) {
    .Statistics-wrapper {
      flex-flow: row;
      justify-content: center; } }

.Statistics-image {
  max-width: 100%;
  min-width: 0;
  width: 100%;
  align-self: flex-start; }
  .Statistics-image:first-child {
    margin-bottom: 20px; }
  @media screen and (min-width: 800px) {
    .Statistics-image:first-child {
      margin-right: 10px;
      margin-bottom: 0; } }

.ProductCard-wrapper {
  min-width: calc(120px + 100px);
  display: flex;
  flex-flow: column;
  flex: 1; }

.ProductCard-imageContainer {
  position: relative;
  width: 100%; }

.ProductCard-image {
  width: 100%;
  display: block; }

.ProductCard-title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid;
  border-color: #288575;
  border-width: 2px; }

.ProductCard-data {
  background-image: url("../images/modal-bg.png");
  padding: 20px;
  position: relative;
  padding-bottom: calc(20px * 2 + 35px);
  flex: 1; }

.ProductCard-description {
  font-size: 14px; }

.ProductCard-button {
  position: absolute;
  right: 20px;
  bottom: 15px; }

.ProductCard-price {
  position: absolute;
  bottom: 15px;
  left: 20px; }

.ProductDisplay-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 480px;
  min-height: 100%;
  padding: 15px 30px 75px 30px; }
  .ProductDisplay-wrapper .row > div {
    display: flex;
    flex-flow: column; }

.ProductDisplay-nav {
  margin: 0 auto;
  padding: 0 0 20px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 16px; }
  .ProductDisplay-nav a {
    color: #ffffff;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold; }

.ProductDisplay-image {
  width: 100%; }

.ProductDisplay-ratedImage {
  display: block;
  padding: 0;
  position: relative; }

.ProductDisplay-card {
  background-image: url("../images/modal-bg.png");
  padding: 20px;
  width: 100%;
  margin: 0; }
  .ProductDisplay-card > .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0; }
    .ProductDisplay-card > .row > div {
      padding: 0; }
    .ProductDisplay-card > .row > div:first-child {
      padding-bottom: 20px; }

@media screen and (min-width: 800px) {
  .ProductDisplay-card .row > div:first-child {
    padding-right: 20px;
    padding-bottom: 0; }

  .ProductDisplay-buy {
    border-top: 1px solid #D6D6D6; } }
.ProductDisplay-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 24px - 10px - 2px); }

.ProductDisplay-name {
  margin: 0 0 10px 0;
  font-size: 24px;
  line-height: 32px; }

.ProductDisplay-description {
  border-top: 2px solid #3FC5CB;
  padding-top: 15px; }

.ProductDisplay-buy {
  display: flex;
  justify-content: space-between;
  padding-top: 20px; }

.ProductDisplay-notAvailable {
  color: #c11313; }

.ProductDisplay-adminActions {
  padding-top: 20px; }

.ProductDisplay-DeleteModalText {
  padding: 0 30px 40px; }

.ProductDisplay-BuyModalText {
  padding: 0 50px 40px; }

.ProductDisplay-buyModal .ProductDisplay-buyModalButtonWrapper {
  display: flex;
  justify-content: flex-end; }
  .ProductDisplay-buyModal .ProductDisplay-buyModalButtonWrapper .DemoShop-button_big, .ProductDisplay-buyModal .ProductDisplay-buyModalButtonWrapper .LoginForm-submit {
    width: 220px; }
.ProductDisplay-buyModal .Modal-content {
  padding: 40px 30px 30px; }

.ProductEdit-field {
  width: 100%; }

.ProductEdit-select {
  line-height: 29px;
  width: 100%; }

.ProductEdit-inputLabel {
  margin-bottom: 5px;
  font-size: 16px; }

.ProductEdit-inputGroup, .ProductEdit-descriptionWrapper {
  margin-bottom: 20px;
  text-align: left; }

.ProductEdit-descriptionWrapper {
  height: 160px; }

.ProductEdit-wrapper .DemoShop-image {
  max-width: 300px; }
.ProductEdit-wrapper .Modal-content {
  padding: 20px 30px 30px; }
.ProductEdit-wrapper .row {
  margin: 0 0 20px; }
.ProductEdit-wrapper .col {
  padding: 0;
  margin: 0; }
.ProductEdit-wrapper textarea {
  height: 130px;
  resize: none; }
@media screen and (min-width: 800px) {
  .ProductEdit-wrapper .ProductEdit-fields {
    max-width: 300px; }
  .ProductEdit-wrapper .col:last-child .ProductEdit-fields {
    margin-left: auto; }
  .ProductEdit-wrapper .row {
    margin-bottom: 50px; }
  .ProductEdit-wrapper textarea {
    height: 200px; } }

.ProductList-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 480px;
  min-height: 100%;
  padding: 15px 30px 75px 30px;
  padding-bottom: 45px; }
  .ProductList-wrapper > .container-fluid {
    padding: 0; }
  .ProductList-wrapper .row {
    display: flex;
    flex-wrap: wrap; }
    .ProductList-wrapper .row > div {
      display: flex;
      flex-flow: column; }

.ProductList-item {
  margin-bottom: 30px; }

.ProductPrice-wrapper {
  height: 29px;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px; }

.ProductPrice-currency {
  color: #288575; }

.Rating-wrapper {
  background-color: rgba(0, 0, 0, 0.75);
  height: 30px;
  width: 100%;
  display: block;
  padding: 5px 0 0 20px;
  font-size: 1rem;
  position: absolute;
  box-sizing: border-box;
  bottom: 0; }

.Rating-star, .Rating-star_full, .Rating-star_blank {
  margin-right: 3px;
  width: 18px;
  height: 18px;
  background-size: contain;
  display: inline-block; }

.Rating-star_full {
  background-image: url("../images/star-active.svg"); }

.Rating-star_blank {
  background-image: url("../images/star-inactive.svg"); }

/*# sourceMappingURL=index.css.map */
