.Rating-wrapper {
  background-color: rgba(0,0,0,0.75);
  height: 30px;
  width: 100%;
  display: flex;
  padding: 5px 0 0 20px;
  font-size: 1rem;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
}

.Rating-star {
  margin-right: 3px;
  width: 18px;
  height: 18px;
  background-size: contain;
}

.Rating-star_full {
  @extend .Rating-star;
  background-image: url("/images/star-active.svg");
}

.Rating-star_blank {
  @extend .Rating-star;
  background-image: url("/images/star-inactive.svg");
}
