.Review-wrapper {
  color: $white-color;
  font-size: 16px;

  .Review-tooltip {
    margin: 0 auto;
    max-width: 420px;
    text-align: center;
  }

  #Review-shareLink {
    color: #ffda2c;
  }
}
