@import '../shared/shared';

.SignOut-username {
  height: 100%;
  margin-right: 8px;
  color: $white-color;
}

.SignOut-wrapper {
  line-height: 25px;
  font-size: 15px;
  vertical-align: middle;
}

#SignOut-icon {
  width: 16px;
}
