textarea {
  border: 2px solid transparent;
  outline: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

textarea:focus {
  border-color: transparentize($main-color, .7);
}
