
.FilterSearch-fieldGroup {
  display: inline-block;
  position: relative;
  float: right;
}

.FilterSearch-field {
  @extend .DemoShop-field;
  border-radius: 5px;
  padding: 9px 42px 9px 17px;
  height: 35px;
  width: 235px;
  background-image: url("/images/search.svg");
  background-repeat: no-repeat;
  background-position: 206px;
  background-size: 20px;
}
//
//.FilterSearch-field:focus {
//  border-color: transparentize($inactive-color, .7);
//}
