
.Filter-wrapper {
  padding-bottom: 25px;
  position: relative;
}

.Filter-wrapper .DemoShop-button {
  margin-right: 15px;
  width: 140px;

  &[pressed] {
    @extend .DemoShop-button:active;
  }
}

@media screen and (min-width: 800px) {
  .Filter-wrapper {
    text-align: right;
  }
}
