$main-color: #288575;
$valid-color: #8ce886;
$invalid-color: #ff5b51;
$inactive-color: #a9a9a9;
$white-color: #ffffff;

$button-height: 35px;
$button-width: 120px;
$big-button-height: 50px;
$big-button-width: 170px;

$main-margin-width: 30px;
$header-height: 45px;
$footer-height: $header-height;
