@import '../shared/shared';

.ProductPrice-wrapper {
  height: 29px;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

.ProductPrice-currency {
  color: $main-color;
}
