@import "../shared/shared";

.ProductEdit-field {
  @extend .DemoShop-field;
  width: 100%;
}

.ProductEdit-select {
  @extend .DemoShop-select;
  line-height: 29px;
  width: 100%;
}

.ProductEdit-inputLabel {
  margin-bottom: 5px;
  font-size: 16px;
}

.ProductEdit-inputGroup {
  margin-bottom: 20px;
  text-align: left;
}

.ProductEdit-descriptionWrapper {
  @extend .ProductEdit-inputGroup;
  height: 160px;
}

.ProductEdit-wrapper {
  .DemoShop-image {
    max-width: 300px;
  }

  .Modal-content {
    padding: 20px 30px 30px;
  }

  .row {
    margin: 0 0 20px;
  }

  .col {
    padding: 0;
    margin: 0;
  }

  textarea {
    height: 130px;
    resize: none
  }

  @media screen and (min-width: 800px) {
    .ProductEdit-fields {
      max-width: 300px;
    }

    .col:last-child .ProductEdit-fields {
      margin-left: auto;
    }

    .row {
      margin-bottom: 50px;
    }

    textarea {
      height: 200px;
    }
  }
}
